* {
  margin:0;
  padding: 0;
}
main{
  text-align: center;
}
#keyboard{
  display: inline-block;
}
#keyboard>div.row{
  margin: 14px 0;
}
#keyboard>div:nth-child(2){
  margin-left: 2em;
}
#keyboard>div:nth-child(3){
  margin-left: 4em;
}
#keyboard kbd{
  display: inline-block;
  width: 50px;
  height: 40px;
  border: 1px solid #3A3A3A;
  border-radius: 5px;
  background: linear-gradient(to bottom, #292929 0%,#111111 100%);
  box-shadow: 0 0 0px 1px #1a1b1c,
    0 0 0px 2px #1F2020,
    0 2px 0px 2px #0d0d0d;
  position: relative;
  margin: 0 7px;
  text-align: left;
}
#keyboard kbd>span{
  text-transform: uppercase;
  color: #d1d1d1;
  vertical-align: bottom;
  font-family: helvetica;
  font-size: 14px;
  margin: 0 2px;
}
#keyboard kbd>img{
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 1px;
  left: 2px;
}
#keyboard kbd>button{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  padding: 2px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #292929 0%,#111111 100%);
  border: 1px solid #3A3A3A;
  color: #16c75b;
  font-size: 12px;
}
#keyboard kbd:hover>button{
  display: block;
}