* {
  margin:0;
  padding: 0;
}
main{
  text-align: center;
}
#keyboard{
  display: inline-block;
}
#keyboard>div:nth-child(2){
  margin-left: 2em;
}
#keyboard>div:nth-child(3){
  margin-left: 4em;
}
#keyboard kbd{
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 1px solid #f60;
  text-transform: uppercase;
  position: relative;
}
#keyboard kbd>button{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
#keyboard kbd:hover>button{
  display: block;
}